#InputNum {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 200px;
    visibility: hidden;
    color: red;
}
body, html {
    position: relative;
    margin: 0;
}
body {
    position: relative;
}
#Start {
    visibility: visible;
}
#label {
    visibility: hidden;
}